body {
    background-color: #FBF6EF;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*Structure*/

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: 800px;
    display: flex;
    flex-direction: column;
}

#layout-grid {
    display: grid;
    grid-template-columns: 500px 300px;
    grid-template-areas: 'left right';
    margin-top: 1em;
}

header {
    width: 100vw;
    height: 65px;
    background-color: #5F4E30;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 100px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7);
}

#header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 800px;
}

#shelf-area {
    grid-area: left;
}

#utility {
    grid-area: right;
}

#utility-area {
    box-sizing: border-box;
    border-style: solid;
    border-color: #D8D8D8;
    border-left-width: 1px;
    width: 275px;
    height: auto;
    padding-left: 25px;
    margin-left: 25px;
}

#displayed-books-control {
    display: flex;
    width: 230px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 230px;
}

#bottom-row {
    margin-top: 1px;
}

#bottom-row p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.flex-row-label {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

header div#header-left {
    display: flex;
    align-items:center;
}

nav {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.5em;
    font-family: Georgia;
    color: #FBF6EF;
}

a {
    color: #FBF6EF;
    text-decoration: none;
    font-size: 1em;
}

.add-book label, .edit-book label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    margin-bottom: 4px;
}

input, select {
    font-size: 1em;
    margin-bottom: 6px;
}

select {
    height: 24px;
    width: min-content;
    padding: 1px 2px;
    font-size: 0.9em;
}

select#book-controls {
    font-size: 1em;
    border-width: 2px;
    border-radius: 2px;
    border-color: #D8D8D8;
    background-color: #FBF6EF;
    margin-bottom: 0px;
}

button {
    width: max-content;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    font-size: 1em;
}

button:hover {
    border-color: #5F4E30;
    cursor: pointer;
}

.flex-row i{
    color: #5F4E30;
}

i:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.1);
}

.l-margin {
    margin-left: 4px;
}

.add-book {
    display: flex;
    flex-direction: column;
    background-color: #FBF6EF;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: #D8D8D8;
    font-size: 1em;
    padding: 4px 6px;
    width: 68px;
    height: 1em;
    margin-right: auto;
    overflow: hidden;
    transition: width 1s, height 1s;
}

div.add-book p, div.edit-book p {
    font-size: 1em;
}

.form-enlarged {
    box-sizing: border-box;
    width: 250px;
    height: 249px;
    border-color: #5F4E30;
}

.add-book form, .edit-book form {
    margin-top: 10px;
}

.add-book p, .edit-book p {
    font-size: 0.9em;
    margin-bottom: 6px;
}

p.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
}

p.invisible {
    visibility: hidden;
    opacity: 0;   
}

.add-book:hover, .edit-book:hover {
    border-color: #5F4E30;
    cursor: pointer;
}

.form-enlarged:hover {
    cursor: auto;
}

.book-card {
    font-size: 1em;
    box-sizing: border-box;
    width: 500px;
    height: auto;
    padding:6px 0px;
    display: grid;
    grid-template-columns: 2.5fr 1fr 0.5fr 0.5fr auto;
    grid-template-rows: auto;
    border-style: solid;
    border-color: #D8D8D8;
    border-bottom-width: 1px;
    margin-bottom: 0px;
    column-gap: 4px;
}

.confirm-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    box-sizing: border-box;
    width: 500px;
    border-style: solid;
    border-color: #D8D8D8;
    border-bottom-width: 0px;
    height: 0px;
    overflow: hidden;
    transition: all 0.2s;
}

.card-enlarged {
    margin-bottom: 1px;
    height: 40px;
}

.left-panel {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3D3B30;
    color: #FBF6EF;
}

.left-panel:hover {
    background-color: #5B5848;
    cursor: pointer;
}

.right-panel {
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EE332F;
    color: #FBF6EF;
}

.right-panel:hover {
    background-color: #F15855;
    cursor: pointer;
}


.invisible-icon {
    visibility: hidden;
}

.book-card-header {
    font-size: 0.9em;
}

@media screen and (max-width: 800px) {
    #header-wrapper, #container {
        width: 95vw;
    }

    #container {
        align-items: center;
    }

    #layout-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 'left right';
    }
}