body {
    background-color: #FBF6EF;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

#container {
    width: 800px;
    display: flex;
    flex-direction: column;
}

#layout-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'left right';
}

header {
    width: 100vw;
    height: 65px;
    background-color: #5F4E30;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}

#header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 800px;
}

header div#header-left {
    display: flex;
    align-items:center;
}

nav {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2.5em;
    color: #FBF6EF;
}

a {
    color: #FBF6EF;
    text-decoration: none;
    font-size: 1em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

label {
    line-height: 1.4;
}

.add-book {
    display: flex;
    flex-direction: column;
    background-color: #FBF6EF;
    border-style: solid;
    border-width: 1px;;
    border-color: #D8D8D8;
    font-size: 1em;
    padding: 4px 9px;
    width: 68px;
    height: 1em;
    overflow: hidden;
    transition: width 1s, height 1s;
}

.add-book-enlarged {
    width: 250px;
    height: max-content;
}

.add-book form {
    margin-top: 10px;
}

.add-book p {
    margin-bottom: 6px;
}

#shelf-area {
    grid-area: left;
}

#utility {
    grid-area: right;
}

div.add-book:hover {
    border-color: #5F4E30;
    cursor: pointer;
}

.book-card {
    font-size: 1em;
    box-sizing: content-box;
    width: 500px;
    height: auto;
    padding: 3px 0px;
    display: grid;
    grid-template-columns: 2.5fr 1fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    border-style: solid;
    border-color: #D8D8D8;
    border-bottom-width: 1px;
    margin-bottom: 6px;
}

.book-card-header {
    font-size: 0.9em;
}

@media screen and (max-width: 800px) {
    #header-wrapper, #container, .book-card {
        width: 95vw;
    }

    #layout-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            'top'
            'bottom'
        ;
    }

    #utility {
        grid-area: top;
    }

    #shelf-area {
        grid-area: bottom;
    }
  }

/*box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);*/